<!DOCTYPE html>
<html lang="en">
<head>
    <title>Корзина</title>
    <link rel="stylesheet" href="/styles/cart.css">
</head>
<body>
<header>
    <h1>
        <a href="/cites"><img src="http://127.0.0.1:9000/web/image.png" alt="home"></a>
    </h1>
</header>

<h2>Расчет стоимости строительства дорожной сети</h2>


<div class="cards">
    {{ range .serviceCites }}
    <div class="card">
        <div class="card-left">
            <img src="http://127.0.0.1:9000/web/{{ .Image}}" alt="product">
        </div>
        <div class="card-right">
            <h3>
                <span class="card-title">{{ .Name }}</span>
                <span class="card-value">Долгота: {{ .Coordinates_long }}</span>
                <span class="card-value">Широта: {{ .Coordinates_width }}</span>
                <div class="card-controls">
                    <div class="cable-length-container">
                        <div class="checkbox-container">
                            <label class="checkbox-label">
                                <input type="checkbox" class="service-checkbox">
                                <span class="checkmark"></span>
                                Назначить Центральным
                            </label>
                        </div>
                    </div>
                </div>
            </h3>
        </div>
    </div>
    {{ end }}
</div>
<h2>Общая стоимости дорожной сети:{{ .service.Cost }}</h2>
<div class="frax-delete-button">
    <form action="/service/{{ .service.ID }}/delete" method="POST">
        <button class="btn-del" type="submit">Удалить заявку</button>
    </form>
</div>
</body>
</html>

