<!DOCTYPE html>
<html lang="en">
<head>
    <title>Город</title>
    <link rel="stylesheet" href="/styles/order_style.css">
</head>
<body>
<header>
    <h1>
        <a href="/cites"><img src="http://127.0.0.1:9000/web/image.png" alt="home"></a>
    </h1>
</header>

<h3>Координаты города</h3>

<div class="card">
    <div class="card-left">
        <img src="http://127.0.0.1:9000/web/{{ .clty.Image}}" alt="product">
    </div>
    <div class="card-right">
        <h3>{{ .clty.Name }}</h3>
        <h3>Долгота: {{ .clty.Coordinates_long }}</h3>
        <h3>Широта: {{ .clty.Coordinates_width }}</h3>
    </div>
</div>
</body>
</html>
